{%extends 'sesion/base.html'%}
{%block titulo%}{{user.username}}{%endblock%}
{% load staticfiles %}
{%block wrapper%}
    {{navbar|safe}}
{%endblock%}
{%block encabezado%}Autorizaciones en {{tienda}} {%endblock%}
{% block contenido %}
<div class="row">
	{% if orden%}
	<a href="orden">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-pencil fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">ORDEN</div>
                        <div> para autorizar</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">ver ordenes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
	</a>
	{%endif%}
	<a href="clientes">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">CLIENTE</div>
                        <div>información</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">mas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
	</a>
</div>
COMPRAS
<div class="row">
	<a href="compras">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cloud-download fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">COMPRAS</div>
                        <div>Historial</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">ver compras</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
	</a>
	<a href="proveedor">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">PROVEEDOR</div>
                        <div>información</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">mas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
	</a>
</div>




{%endblock%}